flow.json
[{"id":"e536f47b.dc1ef8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"694ec58f.d0fe9c","type":"function","z":"e536f47b.dc1ef8","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":270.5,"y":147,"wires":[["1f30d8ef.716307","5bcc045c.0877fc"]],"l":false},{"id":"1f30d8ef.716307","type":"ui_text","z":"e536f47b.dc1ef8","group":"de710481.4701b8","order":4,"width":0,"height":0,"name":"","label":"Your_Recent_Input","format":"{{msg.payload}}","layout":"row-left","x":329.5,"y":285,"wires":[],"l":false},{"id":"5bcc045c.0877fc","type":"watson-conversation-v1","z":"e536f47b.dc1ef8","name":"Assistant","workspaceid":"6319caf6-86e0-4f3d-b5dd-52c697150284","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e8bacc1a-532b-418d-b27d-6f2bad3d1e27","timeout":"","optout-learning":false,"x":452.5,"y":136,"wires":[["3b1f2300.8c991e","9de16e4.3e8ac9"]],"l":false},{"id":"3b1f2300.8c991e","type":"function","z":"e536f47b.dc1ef8","name":"","func":"\nmsg.payload =msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":586.5,"y":207,"wires":[["43653c48.28efc4"]],"l":false},{"id":"9de16e4.3e8ac9","type":"debug","z":"e536f47b.dc1ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":657.5,"y":105,"wires":[],"l":false},{"id":"43653c48.28efc4","type":"ui_text","z":"e536f47b.dc1ef8","group":"de710481.4701b8","order":8,"width":16,"height":5,"name":"","label":"Online Bot","format":"{{msg.payload}}","layout":"row-left","x":705.5,"y":224,"wires":[],"l":false},{"id":"13660b3.5cabef5","type":"ui_form","z":"e536f47b.dc1ef8","name":"","label":"","group":"de710481.4701b8","order":1,"width":0,"height":0,"options":[{"label":"Enter the Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":133.5,"y":201,"wires":[["694ec58f.d0fe9c"]],"l":false},{"id":"de710481.4701b8","type":"ui_group","z":"","name":"Smart Setup Box Assistant","tab":"538df20c.fa172c","order":1,"disp":true,"width":"16","collapse":false},{"id":"538df20c.fa172c","type":"ui_tab","z":"","name":"Intelligent Customer Help Desk with Smart Document Understanding - SB28026","icon":"dashboard","disabled":false,"hidden":false}]